/llm/
/wasm/
/zfs/
/zeam/zfs

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.bin

*.log
*.bak
*.tmp
*.swp
*.DS_Store
*.crash

.ui-cache/

.idea/
.vscode/
*.code-workspace
*.sublime*

shell.log
debug.*
